
      <%= render partial:'partials/header' %>
  <title>view section</title>
<div id="all">
      <%= render partial:'partials/index' %>
  <div id="main">
    <center>
      <h1 style="font-size:70px; color: #674700">welcome Amandeep</h1>

    </center>

  </div>
</div>


