<head>
  <title>view section</title>
</head>
<body>
<div id="all">
  <%= render partial: 'partials/header' %>
  <% if @type.nil? %>
      <%= render partial: 'partials/index1' %>
  <% else %>
      <%= render partial:'partials/index' %>
  <% end %>

  <div id="main">
    <center>
      <h1 style="font-size:70px; color: #674700">welcome</h1>



              </center>
              </div>
              </div>



              </body>
              </html>
