

  <title>JSP Page</title>
<div id="all">
          <div id="main" >
            <center>
              <h class = "heading">STOCK DETAIL</h>
              <%= form_tag("/add_stock2?type='employee'", method: "post") do %>
                <table  style="margin-top: 30px" cellspacing="7" >
                  <tr>
                    <td>PRODUCT NAME</td>
                    <td><select name="stockproid" class= "textbox" required>
                      <% Product.all.each do |product| %>
                          <option value="<%= product.product_id %>"><%= product.Product_name %></option>
                      <%end%>
                    </select></td>
                  </tr>
                          <tr>
                            <td>QUANTITY</td>
                            <td><input type="text" name ="quantity" class="textbox" required/></td>
                          </tr>
                          <tr>
                            <td>DATE OF STOCk ADDING</td>
                            <td><input type="date" name="date" class="textbox" required/><td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><input type="submit" class="submitstyle"/></td>
                          </tr>
                </table>
              <%end%>
            </center>
          </div>
</div>
