<div id='cssmenu'>
  <ul>
    <li class='active'><a href='/admin_home'><span>Home</span></a></li>
    <li class='has-sub'><a href='#'><span>Management</span></a>
      <ul>
        <li class='has-sub'><a href='#'><span>sections</span></a>
          <ul>
            <li><a href='/add_sections'><span>Add Sections</span></a></li>
            <li class='last'><a href='/viewsections'><span>View Sections</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href='#'><span>Categories</span></a>
          <ul>
            <li><a href='/add_categories'><span>Add Categories</span></a></li>
            <li class='last'><a href='/view_categories'><span>View Categories</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href='#'><span>Brands</span></a>
          <ul>
            <li><a href='/add_brands'><span>Add Brands</span></a></li>
            <li class='last'><a href='/view_brands'><span>View Brands</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href='#'><span>Products</span></a>
          <ul>
            <li><a href='/add_products'><span>Add Products</span></a></li>
            <li class='last'><a href='/view_products0'><span>View Products</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='has-sub'><a href='#'><span>Stock</span></a>
      <ul>
        <li><a href='/add_stock'><span>Add Stock</span></a></li>
        <li><a href='/bad_stock'><span>Add Badstock</span></a></li>
        <li><a href='/view_stock'><span>View Stock</span></a></li>
        <li class='last'><a href='/view_bad_stock'><span>View Badstock</span></a></li>
      </ul>
    </li>
    <li class='has-sub'><a href='#'><span>Employees</span></a>
      <ul>
        <li><a href='/add_employee'><span>Add Employees</span></a></li>
        <li><a href='/view_employee'><span>View Employees</span></a></li>
        <li><a href='/attendence'><span>Employee Attendence</span></a></li>
        <li class='last'><a href='/view_attendence'><span>View Attendence</span></a></li>
      </ul>
    </li>
    <li class='has-sub'><a href='#'><span>Members</span></a>
      <ul>
        <li><a href='/add_member'><span>Add members</span></a></li>
        <li class='last'><a href='/view_members'><span>View Members</span></a></li>
      </ul>
    </li>
    <li class='has-sub last'><a href='#'><span>Settings</span></a>
      <ul>
        <li class='last'><a href='/sign_out'><span>Sign Out</span></a></li>
      </ul>
    </li>
  </ul>
</div>
