<div id="all">
  <%= render partial: 'partials/header' %>
  <%= render partial: 'partials/menu_items' %>

  <div id="main" style="margin-left: 0px" >
    <center>
      <table border="0" >
        <tr><td><h style="font-size:50px; color: #674700">AMANDEEP SINGH</h></td></tr>
        <tr><td><h style="font-size:50px; color: #674700">ROLL NO:2011CSA1085</h></td></tr>
        <tr><td><h style="font-size:50px; color: #674700">B.TECH CSE 8TH-SEM</h></td></tr>
        </tr>
      </table>
    </center>

  </div>
</div>

</body>
</html>
